MOBILE_API_BASE_URL=http://10.0.2.2:8080/api/
MOBILE_PUBLIC_BASE_URL=https://dealfinderlk-eafsbyd7ghaph0az.southindia-01.azurewebsites.net
BACKEND_URL=https://dealfinderlk-eafsbyd7ghaph0az.southindia-01.azurewebsites.net
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
